@import url('https://fonts.googleapis.com/css?family=Josefin+Sans') !important;
body {
  font-family: 'Josefin Sans', cursive;
  background: #228B22 !important;
  color:white !important;
}

.node {
	cursor: pointer;
}
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}
.node text {
	font: 10px sans-serif;
}
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.nodeNameBase {
    fill: white !important;
    stroke: white !important;
    stroke-width: 1px !important;
}

.nodeAttributesBase {
    fill: white !important;
    stroke: white !important;
    stroke-width: 0 !important;
    font-size: smaller !important;
}

.node circle {
  fill: #333 !important;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node {
  cursor: pointer;
}

.nodeBase {
    cursor: pointer;
    fill: white !important;
    stroke: #333 !important; 
    stroke-width: 2 !important;
}

.background-path{
	position: absolute;
	display:block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.scene {
	background: #fff;
	width: 100%;
	height: 100%;
}
.scene.dark {
	background: #0F9D58;
}
.scene path:first-child {
	opacity: 0.06;
}
.scene path:nth-child(2) {
	opacity: 0.035;
}
.scene path:nth-child(3) {
	opacity: 0.04;
}
.scene path:nth-child(4) {
	opacity: 0.045;
}
.scene path:nth-child(5) {
	opacity: 0.04;
}
.scene path:nth-child(6) {
	opacity: 0.035;
}
.scene path:nth-child(7) {
	opacity: 0.04;
}